<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      {{{navbar}}}
    </header>

    <main>
        <div id="#app">
            {{{content}}}
        </div>
    </main>

    <footer>
      <p>© 2025</p>
    </footer>
  </body>
</html>
