<div class="not-found-page">
    <div class="not-found-page__wrapper">
        <h2>Error 404</h2>
        <span>Не туда попали</span>
        {{> customLink title="Назад к чатам" link="/"}}
    </div>
</div>
