  <div class="modal-overlay" id="avatarModal">
    <div class="modal">
      <div class="modal__content">
        <h2 class="modal__title">Загрузите файл</h2>
        <span class="modal__text">Выбрать файл на компьютере</span>
        <button type="button" class="modal__close-button">Закрыть</button>
      </div>
    </div>
  </div>
