<div class="modal-overlay" id="avatarModal">
  <div class="modal">
    <form class="modal__content" method="post" enctype="multipart/form-data">
      <h2 class="modal__title">Загрузите файл</h2>
      <label for="fileInput" class="modal__text">Выбрать файл на компьютере</label>
      <input type="file" id="fileInput" name="avatar" class="visually-hidden" />
      <button type="submit" class="modal__close-button">Загрузить</button>
    </form>
  </div>
</div>
