
<div class="custom-form">
    <h2>{{title}}</h2>
    <form method="post">
        <div class="custom-form_container">
            {{#each fields}}
                {{> inputItem }}
            {{/each}}
        </div>
        {{> customButton type="submit" text=buttonText }}
    </form>
        {{> customLink link=link title=linkTitle}}
</div>