.message-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
 background-color: var(--color-message);

  &_own {
    justify-content: flex-end;
    background-color: var(--color-message-own);
  }

  &__content {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__bubble {
    border-radius: 12px;
    padding: 10px 14px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
    position: relative;
    display: inline-block;
  }

  &__text {
    font-size: 14px;
    line-height: 1.4;
  }

  &__image {
    max-width: 100%;
    border-radius: 12px;
    display: block;
  }

  &__time {
    font-size: 11px;
    color: var(--color-grey);
    position: absolute;
    bottom: 4px;
    right: 10px;
  }
}
