<div class="message-item {{#if isOwn}}message-item_own{{/if}}">
  <div class="message-item__content">
    {{#if text}}
      <div class="message-item__bubble">
        <div class="message-item__text">{{text}}</div>
        <div class="message-item__time">{{time}}</div>
      </div>
    {{/if}}

    {{#if image}}
      <div class="message-item__bubble">
        <img src="{{image}}" alt="image" class="message-item__image" />
        <div class="message-item__time">{{time}}</div>
      </div>
    {{/if}}
  </div>
</div>