<div class="message-quill">
  <div class="message-quill__attachment">
    <button class="message-quill__attach-button" type="button" aria-label="Прикрепить файл">
      <image src="/attach-icon.svg"></image>
    </button>
    <div class="message-quill__attachment-menu">
      <button class="message-quill__attach-button" type="button" aria-label="Прикрепить картинку или видео">
        <image src="/img-icon.svg"></image>
        <span>Фото и видео</span>
      </button>
      <button class="message-quill__attach-button" type="button" aria-label="Прикрепить конкретный файл">
      <image src="/file-icon.svg"></image>
        <span>Файл</span>
    </button>
    <button class="message-quill__attach-button" type="button" aria-label="Прикрепить даннные о локации">
      <image src="/location-icon.svg"></image>
      <span>Локация</span>
    </button>
    </div>
  </div>

  <input
    class="message-quill__input"
    type="text"
    placeholder="Сообщение"
    name="message"
    autocomplete="off"
  />

  <button class="message-quill__send" type="submit" aria-label="Отправить">
    <image src="/send-icon.svg"></image>
  </button>
</div>
