<div class="message-quill">
  <div class="message-quill__attachment">
    <button class="message-quill__attach-button" type="button" aria-label="Прикрепить файл">
      <img src="/attach-icon.svg" alt="Иконка добавления вложения" width="32" height="32"/>
    </button>
    <div class="message-quill__attachment-menu">
      <button
        class="message-quill__attach-button"
        type="button"
        aria-label="Прикрепить картинку или видео"
      >
        <img src="/img-icon.svg" alt="Иконка фото/видео" width="22" height="22"/>
        <span>Фото и видео</span>
      </button>
      <button
        class="message-quill__attach-button"
        type="button"
        aria-label="Прикрепить конкретный файл"
      >
        <img src="/file-icon.svg" alt="Иконка файла" width="22" height="22"/>
        <span>Файл</span>
      </button>
      <button
        class="message-quill__attach-button"
        type="button"
        aria-label="Прикрепить данные о локации"
      >
        <img src="/location-icon.svg" alt="Иконка локации" width="22" height="22"/>
        <span>Локация</span>
      </button>
    </div>
  </div>

  <input
    class="message-quill__input"
    type="text"
    placeholder="Сообщение"
    name="message"
    autocomplete="off"
  />

  <button class="message-quill__send" type="submit" aria-label="Отправить">
    <img src="/send-icon.svg" alt="Иконка отправки сообщения" width="28" height="28"/>
  </button>
</div>
