.message-quill {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 10px;

  &__attachment {
    display: flex;
    position: relative;
  }

  &__attach-button {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    gap: 15px;
  }

  &__attachment-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 12px;
    padding: 15px;
    background-color: white;
    position: absolute;
    top: -100%;
    transform: translateY(-80%);
    left: -33%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);

    img {
      width: 22px;
      height: 22px;
    }

    span {
      font-size: 12px;
      white-space: nowrap;
    }
  }

  &__input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 14px;
    outline: none;
    color: var(--color-primary);
    background-color: var(--color-light-grey);
    border-radius: 20px;
    padding: 10px 20px;

    &::placeholder {
      color: #aaa;
    }
  }

  &__send {
    display: inline-flex;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;

    img {
      height: 100%;
      width: auto;
    }
  }
}
