<section class="profile-page__content">
    <div class="profile-page__back-button">
        {{{customButton}}}
    </div>
    <div class="profile-page__info-menu">
        {{{profileInfo}}}
    </div>
</section>



