<div class="message-item {{#if isOwn}}message-item--own{{/if}}">
  <div class="message-item__content {{#if isOwn}}message-item__content--own{{/if}}">
    {{#if text}}
      <div class="message-item__bubble">
        <div class="message-item__text">{{text}}</div>
        <div class="message-item__time">{{time}}</div>
      </div>
    {{/if}}

    {{#if image}}
      <div class="message-item__bubble">
        <img src="{{image}}" alt="image" class="message-item__image" width="300" height="300"/>
        <div class="message-item__time">{{time}}</div>
      </div>
    {{/if}}
  </div>
</div>