<div class="loading-error-page">
    <div class="loading-error-page__wrapper">
        <h2>Error 500</h2>
        <span class="loading-error-page__disclaimer">Мы уже фиксим</span>
        {{> customLink title="Назад к чатам" link="/"}}
    </div>
</div>
