<div class="main-page">
    <div class="main-page__sidebar">
        <a></a>
        {{> search}}
        {{> chatList}}
    </div>
    <div class="main-page__chosen-chat">
        {{#if noChat}}
            <span class="main-page__no-chats-disclaimer">Выберите чат чтобы отправить сообщение</span>
        {{/if}}
        {{#if hasChat}}
            {{> chatMenu }}
            {{> messageList}}
            {{> messageQuill}}
        {{/if}}
    </div>
</div>