<div class="main-page">
    <div class="main-page_sidebar">
        {{> search}}
        {{> chatList}}
    </div>
    <div class="main-page_chosen-chat">
        {{#if noChat}}
            <span class="main-page_no-chats-disclaimer">Выберите чат чтобы отправить сообщение</span>
        {{/if}}
        {{#if hasChat}}
            {{> chatMenu }}
            {{> messageList}}
            {{> messageQuill}}
        {{/if}}
    </div>
</div>