<div class="chat-menu">
  <div class="chat-menu__avatar"></div>

  <div class="chat-menu__name">
    {{name}}
  </div>

  <div class="chat-menu__actions-container">
    <button class="chat-menu__actions-main-button" aria-label="Открыть меню">
      <img src="/menu-icon.svg" alt="Открыть меню" width="3" height="15"/>
    </button>
    <div class="chat-menu__actions-menu">
      <button
        class="chat-menu__actions-button"
        type="button"
        aria-label="Добавить пользователя"
      >
        <span class="chat-menu__icon">
          <img
            class="chat-menu__icon-background"
            src="/add-icon.svg"
            alt="Фон иконки добавления"
            width="22" height="22"
          />
          <img
            class="chat-menu__add-icon"
            src="/add-cross.svg"
            alt="Иконка добавления"
            width="11" height="11"
          />
        </span>
        <span>Добавить пользователя</span>
      </button>

      <button
        class="chat-menu__actions-button"
        type="button"
        aria-label="Удалить пользователя"
      >
        <span class="chat-menu__icon">
          <img
            class="chat-menu__icon-background"
            src="/delete-icon.svg"
            alt="Фон иконки удаления"
            width="22" height="22"
          />
          <img
            class="chat-menu__delete-icon"
            src="/delete-cross.svg"
            alt="Иконка удаления"
            width="11" height="11"
          />
        </span>
        <span>Удалить пользователя</span>
      </button>
    </div>
  </div>
</div>
