:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #1e1e1e;
  --color-bg: #ffffff;
  --font-size-base: 16px;
  --color-blue: #3369f3;
  --color-red: #ff2f2f;
  --color-grey: #999999;
  --color-message-own: #e4edfd;
  --color-message: #f8f8f8;
  --color-light-grey: #eaeaea;
  --color-bg-sidebar: #fbfbfb;
  --color-bg-shadow:  rgba(0, 0, 0, 0.5);
}

#app {
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
