<div class="profile-info">
  <div class="profile-info__avatar-wrapper">
    <div class="profile-info__avatar">
      <img src="/avatar-replacement-icon.svg" alt="Заменить аватар" width="40" height="40"></img>
    </div>
    <div class="profile-info__name">{{name}}</div>
  </div>

  <dl class="profile-info__info">
    {{#each fields}}
      <div class="profile-info__row">
        <dt class="profile-info__label">{{label}}</dt>
        <dd class="profile-info__value">{{value}}</dd>
      </div>
    {{/each}}
  </dl>

  <div class="profile-info__actions">
    {{> customButton text="Изменить данные" type="button" variant="link" color="blue" }}
    {{> customButton text="Изменить пароль" type="button" variant="link" color="blue" }}
    {{> customButton text="Выйти" type="button" variant="link" color="red" }}
  </div>
</div>
