.main-page {
    display: grid;
    grid-template-columns: 25%;
    width: 100%;
}

.main-page_sidebar {
    display: flex;
    flex-direction: column;
    grid-column: 1;
}


.main-page_chosen-chat {
    display: flex;
    flex-direction: column;
    grid-column: 2;
}