<div class="mainPage">
    <div class="main_sidebar">
        {{> profile}}
        {{> search}}
        {{> chatList}}
    </div>
        <div class="main_chosen-chat">
        {{#if noChat}}
            <span class="main_no-chats-disclaimer">Выберите чат чтобы отправить сообщение</span>
        {{/if}}
        {{#if !noChat}}
            {{> chatMenu }}
            {{> messageList}}
            {{> messageQuill}}
        {{/if}}
    </div>
</div>