<div class="not-found-page">
    <div class="not-found-page__wrapper">
        <h2>Error 404</h2>
        <span class="not-found-page__disclaimer">Не туда попали</span>
        {{{customLink}}}
    </div>
</div>
